body {
	background:url(../img/body_bg.png) repeat-x top #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:0px;

	line-height:20px;
	color:#424242;
}
.body_pattern
{
background:url(../img/pattern.png) repeat;
	padding:80px 0 0 0;
}
body.inner {
	background:none;
	padding:80px 0 0 0;
}
h1, h3, h4, h5, h6 {
	font-weight:normal;
	margin:0px;
	text-transform:uppercase;
	line-height:20px;
}

h2 {
	font-weight:normal;
	margin:0px;
	line-height:20px;
}

a img {
	border:none;
}
.align-left{ float:left;}
.align-right{ float:right;}
.btn-toolbar{ font-size:inherit;}
/* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
	background:url(../img/top_nav_bg.png) repeat-x top #020202;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: 0px;
	margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {
	margin:0;
}
/* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
	border: 0;
	background-image:url(../img/top_bg.png);
	background-repeat:no-repeat;
	position:relative;
	min-height:55px;
}
/* Downsize the brand/project name a bit */
    .navbar .brand {
	width:18%;
	float:left;
	padding:0;
	font-size: 16px;
	font-weight: bold;
	
	left:0;
	margin-left:0px;
	margin-top:10px;
}
.navbar .left-link
{
float:left;
 color:#bebfc0;

	
}
.navbar .left-link span{
padding:20px 15px;
color:#bebfc0;
display:inline-block;
border-left:1px solid #0a0a0a;
border-right:1px solid #0a0a0a;
}
.navbar .left-link span.border-none
{
border:0;
}
.navbar .left-link a{
color:#bebfc0;
display:block;
}

.navbar .left-link a:hover
{
	color:#fff;
	text-shadow:0px;
	text-decoration:none;
}
.navbar .brand img {
	max-width:100%;
}
.nav-collapse.collapse {
display:block;

}
/* Navbar links: increase padding for taller navbar */
	.navbar .nav {
	float:right;
}
.navbar .nav > li {
	padding:23px 0;
	border-left:1px solid #0a0a0a;
}
.navbar .nav > li img {
	vertical-align:middle;
}
.navbar .nav > li > a {
	padding: 0px 15px;
	font-size:13px;
	color:#bebfc0;
	text-transform:capitalize;
	font-size:13px;
	line-height:14px;
}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
	color:#fff;
	text-shadow:0px;
}
.navbar .nav > li:first-child a, .navbar .nav > li:last-child a {
	border-right:0px;
}
.navbar .nav > li:first-child img {
	margin-top:-4px;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background:none;
	color:#282828;
	box-shadow:none;
}
/* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
	margin-top: 10px;
}
.navbar-inverse .navbar-inner {
	background-image:none!important;
	background:none!important;
	background-repeat: repeat-x;
	border:none!important;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
	box-shadow:none;
}
.signup_form {
	background:#fff;
	border:1px solid #c2c2c2;
}
.form_inner {
	padding:15px;
	padding-bottom:0;
}
.signup_form h1 {
	background:#484848;
	text-align:center;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	padding:20px 10px;
	text-transform:capitalize;
}
.signup_form h2 {
	text-align:center;
	color:#484a4b;
	font-size:16px;
	/* text-transform:capitalize; */
	margin:10px 0 20px;
}
.signup_form h2 a {
	text-decoration:underline;
}
.signup_form h3 {
	color:#000;
	font-size:16px;
	background:url(../img/h3_bg.png) repeat-x left center;
	margin:10px 0;
	text-transform:capitalize;
}
.signup_form h3 span {
	background:#fff;
	display:inline-block;
	margin-left:4%;
	padding:0 10px;
}
.form_fields {
	margin:10px 0;
}
.form_fields label {
	text-align:right;
	padding-top:5px;
}
.form_fields input[type="text"] {
	width:250px;
	padding:5px 6px;
}
.form_fields .radio, .form_fields .checkbox {
	padding-left: 10px;
}
.form_fields .radio input[type="radio"], .form_fields .checkbox input[type="checkbox"] {
	margin:-3px 5px 0 0;
	float:none;
	display:inline-block;
}
.form_fields .help_text {
	font-size:11px;
	font-style:italic;
	color:#838383;
}
.form_bottom {
	background:url("../img/h3_bg.png") repeat-x scroll left top transparent;
	padding-top:30px;
	margin-top:15px;
	clear:both
}
.form_bottom p {
	text-align:center;
}
.form_bottom p .btn {
	padding:12px 25px;
	margin:0 10px 10px;
}
.form_bottom p .btn-toolbar
{
	padding:11px 25px;
	font-size:14px;
}
.footer-logos {
	margin:0px 0 0px 0px;
}
.footer-logos .client img {
	border:1px solid #dadada;
	margin:20px 5px;
}
/* Set the fixed height of the footer here */
      #push, #footer {
	min-height: 60px;
}
#footer {
	margin-top:20px;
	background:#000;
	color:#fff;
	text-align:center;
	padding-top:15px;
	font-size:12px;
}
#footer .footer-nav a {
	color:#fff;
	padding:0 5px;
	line-height:12px;
	display:inline-block;
	border-right:1px solid #737373;
}
#footer .footer-nav a:hover {
	color:#c2ff82;
}
#footer .footer-nav a:last-child {
	border:0;
}
#footer .copyright {
	padding-left:5px;
}
#footer .social {
	float:right;
	margin-top:-40px;
}
#footer .social img {
	margin:0 5px;
}
.custom-form-select {
	background: url("../img/select.jpg") no-repeat scroll right 0px transparent;
	color: #000000;
	position: absolute;
	border: 1px solid #CCCCCC;
	height: 24px;
	border-radius: 4px 4px 4px 4px;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 6px 6px 3px;
	vertical-align: middle;
	width:120px;
}
.select-long .custom-form-select {
	width:250px;
}
.custom-form-radio {
	float:left;
	display:block;
	width:21px;
	height:21px;
	margin-right:0px;
	background:url('../img/radio.png') no-repeat scroll 0px -2px transparent;
	cursor:pointer;
}
.custom-form-radio.custom-form-focused {
	background:url('../img/radio.png') no-repeat scroll 0px 100% transparent;
}
.custom-form-radio.custom-form-checked {
	background:url('../img/radio.png') no-repeat scroll 0px 100% transparent;
}
.custom-form-checkbox {
	float:none;
	display:inline-block;
	width:20px;
	height:23px;
	margin-right:4px;
	background:url('../img/checkbox.png') no-repeat scroll 0 3px transparent;
	margin-bottom:-4px;
	cursor:pointer;
}
.custom-form-checkbox.custom-form-focused {
	background-position:0px 100%;
}
.custom-form-checkbox.custom-form-checked {
	background-position:0px 100%;
}
.custom-form-checkbox.custom-form-checked.custom-form-focused {
	background-position:0px 100%;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	margin-bottom:15px;
}
/*---------------------------------Inner Page Css---------------------------------------------*/
.nav-tabs {
	margin-bottom:0;
	border-bottom:1px solid #c2c2c2
}
.nav-tabs > li > a {
	padding:15px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	border:1px solid #c2c2c2;
	border-top:3px solid #0098d6;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	outline:none;
	color:#000;
}
.tab-content {
	border:1px solid #c2c2c2;
	border-top:0;
	padding:15px;
}
.tab-content h1{ font-size:20px; color:#000; text-transform:capitalize; border-bottom:1px solid #c2c2c2; padding-bottom:10px; margin-bottom:10px;} 
.tab-content p{ color:#5f6061; font-size:12px;}
.tab-content h3{   border-top: 1px solid #C2C2C2; color: #000000; font-size: 14px;  margin-bottom: 10px; margin-top: 5px;padding-bottom: 5px;
    padding-top: 15px;text-transform: none;}
.product-list{ width:710px; margin:0 auto}
ul.products{ margin:0;}
ul.products li{ margin-bottom:15px; border:1px solid #868181; text-align:center; position:relative; padding:10px 10px 20px; opacity:.5; min-height:190px!important;}
ul.products li .sign-select{ width:30px; height:29px; background:url(../img/product-selcted.png) no-repeat; position:absolute; right:-10px ; top:-10px; display:none;}
ul.products li.selected{ border:2px solid #007600; opacity:1;}
ul.products li.selected .sign-select{display:block;}
ul.products li img{ margin-bottom:10px}
ul.products li h4{ font-size:14px; color:#000; text-transform:capitalize;}
ul.products li span.spacer{ background:#000; width:50%; height:1px; margin:5px auto 10px; display:block; overflow:hidden; }
ul.products li p{ text-align:left; color:#000; font-size:12px;}
ul.products li p a{ display:block; float:right; clear:both; text-decoration:underline; color:#044d80}

#referral_details{}
#referral_details label{ text-align:right; padding-top:5px;}
.date_filter{ border-top:1px solid #c2c2c2; padding:35px 0 15px}
#datetimepicker,#datetimepicker2{ margin:0}
p.date_pick{ font-size:14px; color:#0176b2;}
#datetimepicker input[type="text"],#datetimepicker2 input[type="text"]{ max-width:50%; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; height:15px; margin:0; margin-right:10px; text-align:center;}
#datetimepicker span.add-on,#datetimepicker2 span.add-on{ background:url(../img/calender.png) no-repeat; width:23px; height:25px; display:inline-block; padding:0; border:0;border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; cursor:pointer;}
.tab-content .btn-toolbar{margin: -1px 0 0; padding: 2px 10px;}
.accordion .collapsed{ padding:0!important; border:0!important}
.accordion .accordion-inner
{
border:0;
border-left:1px solid #c2c2c2;
}
.accordion .collapse
{
}
.accordion .collapse p 
{
font-size:14px;

}

.accordion .collapse p strong
{
font-weight:bold;
color:#000;
}

.accordion a{ color:#5f6061;}
.accordion a:hover{ text-decoration:none;}
.accordion table{ border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; border-color:#c2c2c2;}
.accordion table th{ color:#000;}
.accordion table th.sorting{ background:url(../img/arrow.png) no-repeat 95% 5px;}
.accordion table th,.accordion table td{border-color:#c2c2c2; border-collapse:collapse;}
.accordion .table-bordered thead:first-child tr:first-child > th:first-child,.accordion .table-bordered tbody:first-child tr:first-child > td:first-child,.accordion .table-bordered tbody:first-child tr:first-child > th:first-child
{
border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;
}
.accordion table tr{ border:0;}
.accordion table tr{ }
.accordion table tr:hover
{
background:#7ad2ff;
}
.pagination ul{ float:right}
.pagination ul li a{ padding:8px 12px;}

/*---------------------------------Login Conatiner------------------------------------------------*/
.login_container
{
width:453px;
margin:40px auto;
border:1px solid #c2c2c2;
background:#fff;
padding:30px;
text-align:center;

}
.login_container .login_logo
{
margin-bottom:40px;
}
.login_container .login_head
{
margin-bottom:60px;
}
.login_container .login_head span
{
font-size:18px;
color:#000;
background:#b0c536;
padding:5px 10px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
display:inline-block;
}
.login_container p.forgot_pwd{ margin-bottom:40px;}
.login_container p a{ text-decoration:underline;}
.login_container p .btn{ padding:15px 25px;}
/* RESPONSIVE CSS -------------------------------------------------- */
@media (min-width: 980px) {
.services .home-box {
width:25%;
}
}
 @media (min-width: 1200px) {
 
.container {
width:810px;
position:relative;
}
.nav-container
{
width:980px;
}

.services .home-box {
width:25%;
}
}
 @media (max-width: 979px) {
 .container {
 margin:0 20px;
}
.login_container
{
width:50%;
}
 .container.navbar-wrapper {
 margin-bottom: 0;
 width: auto;
}
.navbar .brand
{
width:25%;
}
 .navbar .nav {
 float: none;
}
 .navbar .nav > li {
 padding:0;
}
 .navbar .nav > li a {
 padding:15px 10px;
 border:0;
}
 .navbar-inner {
 border-radius: 0;
 margin: 0px 0;
}
 .carousel .item {
 height: 500px;
}
 .carousel img {
 width: auto;
 height: 500px;
}
 .featurette {
 height: auto;
 padding: 0;
}
 .featurette-image.pull-left, .featurette-image.pull-right {
 display: block;
 float: none;
 max-width: 40%;
 margin: 0 auto 20px;
}
 .navbar-inverse .nav-collapse .nav > li > a, .navbar-inverse .nav-collapse .dropdown-menu a {
 color:#fff;
}
 .navbar-inverse .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .nav > li > a:focus, .navbar-inverse .nav-collapse .dropdown-menu a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:focus {
 background-color:#b0c536;
 color:#000;
}
 .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
 background-color:#009f4c;
 color:#fff;
}
 .services, .footer-logos {
 margin-left:0px;
}
.services .home-box {
min-height:0px;
}
.services .home-box img {
position:static;
clear:both;
display:block;
}
.divisions .voip, .divisions .id {
border-radius:0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
text-align:center;
line-height:50px;
}
.divisions .voip img, .divisions .id img {
display:block;
margin:0 auto;
}
 #footer .social {
 float:none;
 margin-top:10px;
}
 .carousel-caption h2 {
 font-size:16px;
 line-height:18px;
}
.carousel-caption h3 {
 font-size:14px;
 line-height:18px;
}
.inner-header-wrapper .heading-group h2 {
 font-size:16px;
 line-height:18px;
}
 .inner-header-wrapper .heading-group h3 {
 font-size:14px;
 line-height:18px;
}
.product-list{ width:auto; margin:0 auto}
#referral_details label{ text-align:left;}
}
 @media (max-width: 767px) {
 .login_container
{
width:50%;
}
 .navbar-inner {
 margin: 0px;
}

 .carousel {
 margin-left: 0px;
 margin-right: 0px;
}
 .carousel .container {
}
 .carousel .item {
 height: 300px;
}
 .carousel img {
 height: 300px;
}
 .carousel-caption {
 padding: 0 0px;
 margin-top: 100px;
}
 .carousel-caption h1 {
 font-size: 30px;
}
 .carousel-caption .lead, .carousel-caption .btn {
 font-size: 18px;
}
 .marketing .span4 + .span4 {
 margin-top: 40px;
}
 .featurette-heading {
 font-size: 30px;
}
 .featurette .lead {
 font-size: 18px;
 line-height: 1.5;
}
.form_fields label {
text-align:left;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
max-width:90%;
}
.select-long .custom-form-select {
width:65%;
}
.select-long select {
width:95%!important;
}
}

 @media (max-width: 480px) {
 .login_container
{
width:auto;
margin-right:20px;
margin-left:20px;
}
body.inner {
	background:none;
	padding:120px 0 0 0;
}
.navbar .brand
{
width:55%;
}
 .navbar .left-link
{
float:none;
 color:#bebfc0;
 clear:both;

	
}
.navbar .left-link span{
padding:20px 0px;
color:#bebfc0;
display:inline-block;
border-left:0px solid #0a0a0a;
border-right:0px solid #0a0a0a;
}
.nav-tabs > li, .nav-pills > li
{
float:none;
}
}